GA4_CREDENTIALS_PATH=example_credential/credential_of_your_ga4.json
CLIENT_SECRETS_FILE=example_credential/your_app_client_secret.json
TOKEN_FILE=example_credential/your_user_token.json
FIRST_GA4_PROPERTY_ID=123456789
SECOND_GA4_PROPERTY_ID=987654321